@font-face {
    font-family: "Dancing Script";
    src: url("./fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Ephesis";
    src: url("./fonts/Ephesis-Regular.ttf");
}
@font-face {
    font-family: "Quicksand";
    src: url("./fonts/Quicksand-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Saira Extra Condensed";
    src: url("./fonts/SairaExtraCondensed-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.content {
    min-height: 100%;
    background-image: url(images/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Home Page */

header {
    width: 100%;
    height: 70px;
    background-color: rgba(138, 75, 75, 0.479);
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

header li {
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: 100ms;
}

header li:hover {
    background-color: rgba(138, 75, 75, 0.8);
}

main {
    min-width: 630px;
    max-width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 3rem;
}

.welcome {
    font-family: "Ephesis", cursive;
    font-size: 3rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.text div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
}

.text p {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

footer {
    width: 100%;
    background-color: rgba(138, 75, 75, 0.8);
    display: flex;
    justify-content: center;
    gap: 5rem;
    color: white;
    font-family: "Quicksand", sans-serif;
}

footer a {
    text-decoration: none;
    color: rgb(103, 206, 253);
}

/* Menu Page */

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.menu-wrapper {
    padding: 3rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 3rem;
}

.item {
    display: flex;
    border: 2px solid white;
    border-radius: 1rem;
    overflow: hidden;
    min-width: 600px;
}

.img {
    max-width: 200px;
    height: auto;
}

.desc {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.desc h3 {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
}

.desc p {
    font-family: "Quicksand", sans-serif;
}

.desc p:last-child {
    font-size: 2rem;
}

/* About Page */

.about {
    margin: 0 auto;
    display: flex;
    width: 80%;
    padding: 3rem 0;
    gap: 2rem;
    justify-content: space-between;
}

td {
    border: 2px solid white;
    border-radius: 5px;
    border-collapse: collapse;
    font-family: "Quicksand", sans-serif;
    padding: 0.5rem;
}

.about-text {
    width: 70%;
}

.about-text h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    text-align: center;
}

.adress {
    text-align: center;
}

.about-text p {
    font-family: "Quicksand", sans-serif;
}

.about-image {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .menu-wrapper {
        width: 695px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
